/* * {
  outline: 1px solid red;
} */
.cursor-dot {
    width: 6px;
    height: 6px;
    background-color: #FB7911;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    transition: transform 0.15s ease, opacity 0.15s ease;
  }
  
  .cursor-outline {
    width: 30px;
    height: 30px;
    border: 1px solid #FB7911;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 999;
    pointer-events: none;
    transition: transform 0.15s ease, opacity 0.15s ease;
  }
  
  .hovered {
    transform: scale(1.8);
    opacity: 0.2;
    background-color: #FB7911;
  }
  .hoveres{
    display: none;
  }